#include "base.keymap"

// // Blank 6col template
// // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//      ___           ___           ___           ___           ___           ___               ___           ___           ___           ___           ___           ___
// // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      ___           ___           ___           ___           ___           ___               ___           ___           ___           ___           ___           ___
// // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//      ___           ___           ___           ___           ___           ___               ___           ___           ___           ___           ___           ___
// // ╰───────────────────────────────────────────────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼───────────────────────────────────────────────────────╯
//                                                ___           ___           ___               ___           ___           ___
// //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯